body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom right, #81cfe0, #ffb6b9);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 100%;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px #000;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 100%;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #result {
    margin-top: 30px;
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    text-align: center;
  }
  
  #result h2 {
    margin-top: 0;
    color: #4CAF50;
    text-shadow: 1px 1px #fff;
  }
  
  /* Gradient Animation */
  
  .gradient {
    background: linear-gradient(to bottom right, #81cfe0, #ffb6b9);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Responsive Design */
  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 32px;
    }
    
    input[type="text"], select {
      font-size: 14px;
    }
    
    button {
      font-size: 14px;
    }
    
    #result {
      font-size: 20px;
    }
  }
  